body{
    background-color: rgb(232, 230, 230) !important;
}
h3{
  color:rgb(31, 47, 90);
}
.div{
    width: 70% !important;
    margin-top: 40px;
    margin-bottom: 40px;
     }
.head{
    background-color:rgb(31, 47, 90);
    position: relative;
}
.head img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top:40px;
    left:70px;
    position: absolute;
}
.headtext{
color: #fff;
padding-top: 70px;
padding-left: 400px;
}
.container1{
    background-color: #fff;
    padding: 50px;
   padding-top: 130px;
}
.div1{
    border-top: 1px solid rgb(158, 156, 156);
    border-right: 1px solid rgb(158, 156, 156);
    padding: 20px !important;
    /* padding-top: 20px; */
}
.date{
text-align: end;
}
.div2{
    border-top: 1px solid rgb(158, 156, 156);
    padding-top: 20px;
    padding-left: 35px !important;
}