body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
background-color: rgb(161, 158, 158) !important;
}


#page {
    position: relative;
    margin: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
#page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  .divflex{
    display: flex;
  }



@media print {
    
    body, page[size="A4"] {
      margin: 0;
      box-shadow: 0;
      /* transform: scale(0.9); */
    }
    button{
       display: none;
    }
  
    html, body {
        border: 1px solid white;
        height: 100%;
        page-break-after: avoid;
        page-break-before: avoid;
     }
  }
  
h3{
  color:rgb(31, 47, 90);
}
.div{
    width: 60% ;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
     }
.headsection{
    background-color:rgb(31, 47, 90);
    position: relative;
}
.headsection img{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    top:20px;
    left:60px;
    border: 2px solid #fff;
    position: absolute;
}
.headtext{
color: #fff;
padding-top: 50px;
padding-left: 350px;
}

.container1{
    background-color: #fff;
    padding: 30px;
   padding-top: 90px;
}
.div1{
    width: 80%;
    border-top: 1px solid rgb(158, 156, 156);
    border-right: 1px solid rgb(158, 156, 156);
    padding: 18px ;
 
}
.date{
text-align: end;
}
.div2{
    width: 40%;
    border-top: 1px solid rgb(158, 156, 156);
    padding-top: 18px;
    padding-left: 30px;
}
.btnprint{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 7px;
    padding: 6px 20px;
 
  
}
@media (max-width: 768px) {
    .div{
        width: 100%;
    }
    .headtext {
        padding: 15px;
        padding-left: 220px;
    }
    .headsection img{
        width: 150px;
        height: 150px;
        top: 8px;
        left: 15px;
        }
    .div1{
        border-right:none;
    }
}